.colors {
    /* border: black solid 5px; */
    width: 100%;
    justify-content: space-between;
    display: flex;
    background-color: black;
    box-sizing: border-box;
    border-radius: 3px;
}

.white button {
    background-color: black;
    color: white;
    padding-right: 22px;
    padding-left: 26px;
    padding-top: 22px;
    padding-bottom: 22px;
    border: 0cap;
    cursor: pointer;
}

.bt button {
    background-color: rgb(0, 0, 0);
    color: white;
    padding-right: 22px;
    padding-left: 26px;
    padding-top: 22px;
    padding-bottom: 22px;
    border: 0cap;
    cursor: pointer;
}

.fa-magnifying-glass {
    color: white
}

.white button:hover {
    color: rgb(0, 0, 0);
    background-color: lightgray;
}

.bt button:hover {
    background-color: rgb(228, 23, 23)
}

.image img {
    width: 100%
}

.text h1 {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin: 10px 0;
    letter-spacing: 5px;
}
.pc-a{
    color:gray;
    text-align: center;
}
.pc{
    font-family: "Lato", sans-serif;
    line-height: 1.5;
    font-size: 15px;
    margin-left: 361px;
    margin-right: 361px;
}
.images{
    display:inline-block;
    text-align: center;
    /* border:2px solid red */
    
}.images img{
    width:60%;
   
}