.box img {
    width: 100%
}

.box {
    border: 6px solid red;
    width: 300px;
    height: 244px;
    display: inline-block;
    margin: 10px;
}

.color {
    background-color: pink;
    border-radius: 20px;

}

.ga {
    display: inline-block;
    margin-right: 50px
}

.ga img {
    width: 120px;
    height: 100px;
}
.ga h5{
    padding-left: 31px;
    padding-right: 41px;
}
.ga:hover{
    color:red;
    cursor: pointer;
}